.chatHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 7px;

    .chatHeaderLeft{
        padding-left: 15px;

        .chatHeaderHush{
            color: #8D8BAF;
            padding-right: 7px;
        }

        h3{
            color: white;
            display: flex;
        }
    }

    .chatHeaderRight{
        padding-right: 15px;
        display: flex;
        align-items: center;
        gap: 13px;
        color: #8D8BAF;

        .chatHeaderSearch{
            display: flex;
            align-items: center;
            background-color: #292841;
            padding: 3px;
            border-radius: 3px;

            input{
                background: transparent;
                outline: none;
                color: white;
                border: none;
            }
        }

        .MuiSvgIcon-root{
            cursor: pointer;
        }
    }
}